.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
}

.pageLabel {
  margin: auto;
  transition: opacity 0.4s ease-in-out;
}

.title {
  font-size: 0.95rem;
  font-weight: bold;

  cursor: pointer;
}

.dot {
  margin: auto;
  margin-top: 0.75rem;

  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;

  background-color: #020202;

  will-change: transform;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.4;
}