@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;

  transition: 0.4s;

  z-index: 999;
}

.header::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  backdrop-filter: blur(15px);
  mask: linear-gradient(white 0%, transparent);
  z-index: -1;
}

.snap-container {
  height: 100vh;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}

.snap-section {
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.light {
  color: #020202;
}

.dark {
  color: #f2f2f2;
}
